argon2-cffi
asgiref
astroid
autopep8
bcrypt
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
cryptography
defusedxml
dj-database-url
dj-rest-auth
Django
django-allauth
django-bootstrap-v5
django-bootstrap4
django-braces
django-cors-headers
django-extra-fields
django-heroku
django-rest-allauth
django-rest-auth
djangorestframework
djangorestframework-simplejwt
docopt
Faker
gunicorn
heroku
httpie
idna
isort
lazy-object-proxy
mccabe
oauthlib
pep8
Pillow
pipreqs
platformdirs
psycopg2 
psycopg2-binary
pycodestyle
pycparser
Pygments
PyJWT
pylint
PySocks
python-dateutil
python3-openid
requests
requests-oauthlib
requests-toolbelt
six
sorl-thumbnail
soupsieve
stripe
text-unidecode
toml
tzdata
urllib3
whitenoise
wincertstore
wrapt
yarg
